html, body {
    margin: 0;
    padding: 0;
    background: blue;
}
.hidden{
    display: none;
}
#page-container {
    background: red;
    margin: auto;
}
#main-nav {
    background: green;
    height: 50px;
}
#main-header {
    background: darkgreen;
    height: 100px;
}
#footer {
    background: orange;
    height: 60px;
}
h1 {
    margin: 0;
    padding: 0;
}