/* tables */
table.sortable {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 16pt;
	width: 100%;
}
table.sortable thead tr th, table.sortable tfoot tr th {
	background-color: #537E6D;
	border: 1px solid #FFF;
	font-size: 16pt;
	padding: 4px;
	color: white;
}

table.sortable tbody td {
    color: #3D3D3D;
	padding: 4px;
	vertical-align: center;
	text-align: center;
}

tr.row1{
    background-color: #E3DAC9;
}
tr.row2{
    background-color: #AAA995;
}

th.flat_name{
    text-align: left;
    padding-left: 10px;
}