{% extends "assess/base.html" %}

{% block content %}

    <div id="form_marks"  style="float: left;" >
        <h3>New Apartment's Marks</h3>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <button type="submit" class="button" style="margin:20px;">Save</button>
        </form>
    </div>

    <div id="criteria" >
        <h3>Criteria description</h3>
        <table>
        {% for item in criteria %}
            <tr><td><b>{{ item.name|capfirst }} </b>:{{ item.description }} Weight: {{ item.weight }} </td></tr>
        {% endfor %}
        </table>
    </div>



{% endblock content %}