<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Super Realt Assessment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"  type="text/css" href="{% static "assess/style_table.css" %}"></script>
    <link rel="stylesheet"  type="text/css" href="{% static "assess/mystyle.css" %}"></script>

    <script type="text/javascript" src="{% static "assess/sorttable.js" %}"></script>
</head>
<body>
<div id="page-container">
    <div id="main-nav">
            <a href="{% url 'index' %}">TOP LIST</a>
            <a href="{% url 'full_index' %}"">FULL TABLE</a>
            <a href="{% url 'add_form' %}"">ADD NEW</a>
            <a href="{% url 'criteria' %}"">CRITERIA</a>
        </dl>
    </div>
    <div id="main-header">
        <h1>Super Realt Assessment</h1>
    </div>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        <div id="altnav">
            <a href="{% url 'index' %}">List</a> -
            <a href="{% url 'full_index' %}"">Full table</a> -
            <a href="{% url 'add_form' %}"">Add new</a> -
            <a href="{% url 'criteria' %}"">Criterias_list</a>
        </div>
         Copyright © Lenulia and Sasha
    </div>
</div>
</body>
</html>