{% extends "assess/base.html" %}

{% block content %}
    <h3><a href="{{ rating.link }}"> {{ rating.pseudonim }} </a></h3>
   o park - 0
     <table id="detail" class="sortable">
         <thead>
          <tr>
              <th>Rating</th>
              {% for item in criterias %}
                  <th>{{ item.name|capfirst }}</th>
              {% endfor %}
          </tr>
          </thead>
         <tbody>
          <tr>
              <td> {{ rating.calc_rating }} </td>

              {% for mark in rating.get_all_marks %}
                  <td> {{ mark.value }} </td>
              {% endfor %}
          </tr>
         </tbody>
     </table>

{% endblock content %}