{% extends "assess/base.html" %}

{% block content %}


     <table id="fullIndex" class="sortable">
         <thead>
          <tr>
              <th></th>
              <th>Rating</th>
              {% for item in criterias %}
                  <th>{{ item.name }}</th>
              {% endfor %}
              <th>link</th>
          </tr>
          </thead>
         <tbody>
          <tr>
          {% for flat in ratings %}
              <th> {{ flat.pseudonim }} </th>
              <td> {{ flat.calc_rating }} </td>

              {% for mark in flat.get_all_marks %}
                  <td> {{ mark.value }} </td>
              {% endfor %}
              <td> <a href="{{ flat.link }}"> {{ flat.link }} </a></td>
          </tr>
          {% endfor %}
         </tbody>
     </table>

     <button onClick="alert('Add button using Javascript.');">
           Add button Javascript
    </button>

    <div><a href="{% url 'index' %}">Index</a></div>


    <a href="{% url 'add_form' %}" >Add-form</a>



{% block addform %}

{% endblock addform %}


{% endblock content %}


