<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full table</title>
</head>
<body>

 <table>
      <tr>
          <th></th>
          {% for item in criterias %}
              <th>{{ item.name }}</th>
          {% endfor %}
      </tr>
      <tr>
      {% for flat in ratings %}
          <th> {{ flat.pseudonim }} </th>

          {% for mark in flat.get_all_marks %}
              <th> {{ mark.value }} </th>
          {% endfor %}
          <th> <a href="{{ flat.link }}"> {{ flat.link }} </a></th>
      </tr>
      {% endfor %}
 </table>

</body>
</html>